html {
    background-color:gold;
}

h1 {
    border:brown inset 2px;
    background-color:rgb(248, 98, 43);
    color:brown;
    font-family: 'Norican', cursive;
}

h2{
    color:crimson;
    border:brown inset 2px;
    background-color:rgb(255, 153, 0);
}

.box{
    display:block;
    margin:20px;
}

h3 {
    color:crimson;
    font-family: 'Shadows Into Light Two', cursive;
}

p {
    margin:20px;
    border:brown inset 2px;
    padding:7px;
    background-color:rgb(231, 126, 88);
    color:rgb(118, 45, 0);
}

li {
    margin:20px;
    color:rgb(118, 45, 0);
}

span{
    color:rgb(222, 4, 4);
}

.pagelink{
    color:darkblue;
    border-width:0px;
    background-color:gold;
}

img{
    border: brown inset 10px;
}