html {
    background-color:gold;
}

h1 {
    color:brown;
    font-family: 'Norican', cursive;
}

h2 {
    color:crimson;
}

h3 {
    color:crimson;
    font-family: 'Shadows Into Light Two', cursive;
}

p, li {
    color:rgb(118, 45, 0);
}

span{
    color:rgb(249, 28, 72);
}

img{
    border: brown inset 10px;
}

.pagelink{
    color:darkblue;
}