html {
    background-color:lightcyan;
    font-family:'Times New Roman', Times, serif;
}

h1 {
    margin:20px;
    border:purple solid 10px;
    padding:7px;
    background-color:lavender;

    text-align:center;
    color:rgb(154, 41, 154);
    font-family: 'Abril Fatface', cursive;
    font-weight:100;
}

h2{
    display:inline;
    margin:20px;
    border:darkcyan inset 5px;
    background-color:rgb(200, 255, 246);
    padding:7px;
    
    color:cadetblue;
    font-family: 'Abril Fatface', cursive;
    font-weight:100;
    text-decoration:underline;
}

p, li {
    font-family: 'Patua One', cursive;
    font-weight:100;
}

span {
    color:rgb(203, 90, 128);
}

img {
    display:block;
    margin:0 auto;
    margin-bottom:20px;
    border:palevioletred inset 10px;
}

.center_p {
    width:300px;
    text-align: center;

    display:block;
    white-space:nowrap;
    margin:0 auto;
    border:purple solid 5px;
    background-color:lavender;
    padding:7px;
}

.darkblue{
    color:darkslateblue;
}

.pagelink{
    font-family:'Abril Fatface', cursive;
    font-weight:200;
    text-decoration:none;
}

.no-inline{
    margin:10px;
    border:none;
    padding:none;
    background-color:lightcyan;
    display:block;
}

.leftmargin{
    margin-left:20px;
}